<% 
	var pages = [
		{
            'href': '#home',
            'anchor': 'Home',
            'dataAttribute': ['data-fsc-scroll']
        },
		{
            'href': '#about',
            'anchor': 'About',
            'dataAttribute': ['data-fsc-scroll']
        },
		{
            'href': '#services',
            'anchor': 'Services',
            'dataAttribute': ['data-fsc-scroll']
        },
		{
            'href': '#portfolio',
            'anchor': 'Portfolio',
            'dataAttribute': ['data-fsc-scroll']
        },
		{
            'href': '#contact',
            'anchor': 'Contact',
            'dataAttribute': ['data-fsc-scroll']
        },
	]
%>
<header class="header">
    <div class="header__container container">
        <%- include('externe/components/menu/Logo/Logo.ejs', {
            logo_component: {
                this: {
                    parent: 'header'
                },
                wrapper: {
                    parent: 'header'
                },
                homePage: header_component.homePage,
                icon_component: {
                    this: {
                        parent: 'logo'
                    },
                    name: "logo"
                },
                label: 'arct'
            }
        })%>
        <div class="header__body">
            <%- include('src/ejs/components/headerMenu.ejs', {
                header_menu_component: {
                    list: pages,
                    activePage: header_component.activePage ?? ''
                }
            }) %>
            <%- include('externe/components/menu/Burger/Burger.ejs', {
                burger_component: {
                    this: {
                        parent: 'header',
                    }
                }
            })%>
            <%- include('externe/components/menu/TextTrigger/TextTrigger.ejs', { 
                texttrigger_component: {
                    this: {
                        parent: 'parentClass',
                        block: 'childBlockClass',
                        class: ['childClass'],
                        id: ['childID'],
                        tag: 'div',
                        style: ['customStyle'],
                        dataAttribute: ['customDataAttributes'], 
                    }
                }
            }) %>
            <%- include('externe/components/menu/ThemeToggle/ThemeToggle.ejs', {
                theme_toggle_component: {}
            })%>
        </div>
    </div>
</header>